@page "/history/{userid}"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@inject IRepository Repository
@attribute [Authorize]
@inject UserManager<PizzaStoreUser> UserManager

<PageTitle>Blazing Pizza - History</PageTitle>

<AuthorizeView Roles="User">

<div class="main">
	<TemplatedList Loader="LoadOrders" ListGroupClass="orders-list">
		<Loading>Loading...</Loading>
		<Empty>
			<h2>No orders placed</h2>
		</Empty> 
		<Item Context="item">
			<div class="col">
				<h5>@item.Order.CreatedTime.ToLongDateString()</h5>
				Items:
				<strong>@item.Order.Pizzas.Count()</strong>;
				Total price:
				<strong>£@item.Order.GetFormattedTotalPrice()</strong>
				
			</div>
			<div class="col">
				Status: <strong>@item.Order.Status</strong>
			</div>
			
		</Item>
	</TemplatedList>
</div>
</AuthorizeView>

@code {
	IEnumerable<OrderWithStatus>? ordersWithStatus;
	[Parameter] public string UserId { get; set; }

	[CascadingParameter]
	public HttpContext HttpContext { get; set; } = default!;


	async Task<IEnumerable<OrderWithStatus>> LoadOrders()
	{
		var ordersWithStatus = Enumerable.Empty<OrderWithStatus>();

		ordersWithStatus = await Repository.GetOrdersAsync(UserId);
		return ordersWithStatus.Take(1);
	}
}